body {
  margin: 0px;
  font-family: "Fira Sans", arial, sans-serif;
  color: #141414;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

img {
  max-width: 100%;
  display: block;
}

.subtitulo {
  text-transform: uppercase;
  font-size: 9rem;
  line-height: 1;
  word-break: break-all;
  max-width: 4ch;
}

@media (max-width: 800px) {
  .subtitulo {
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial !important;
  }
}
